<!---
 <nav class="navbar navbar-expand-xl navbar-light bg-dark">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Saved</a>
      </li>
      <li class="nav-item">
          <form class="navbar-form navbar-left scrape" action="/api/scrape" method="POST">
            <input type="hidden" value="">
            <button type="submit" class="btn btn-md btn-danger" data-toggle="modal" id = "scrapeButton" data-target="#scrapeModal">Scrape New Artcles</button>
        </form> 
      </li>
   
    </ul>
  </div>
</nav>
-->



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Article Scraper</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/articles">Saved</a></li>
        <li>
          <form class="navbar-form navbar-left scrape" action="/api/scrape" method="POST">
            <input type="hidden" value="">
            <button type="submit" class="btn waves-effect waves-light"  data-target="modal" id = "scrapeButton">Scrape New Artcles</button>
          </form> 
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/articles">Saved</a></li>
        <li>
          <form class="navbar-form navbar-left scrape" action="/api/scrape" method="POST">
            <input type="hidden" value="">
            <button type="submit" class="btn btn-md btn-danger modal-trigger pulse menu-button"  data-target="modal" id = "scrapeButton">Scrape New Artcles</button>
          </form> 
        </li>
      </ul>
    </div>
  </nav>

<!-- Modal Structure -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of textfd;afsk;askdfl;maslfmdpmpmoeomfqpwmpowmepfmpmoef</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>