  {{>elements/navbar}}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner-image text-center"> 
            <h1>Mongo Scraper</h1>
            <h3>New York Times Edition</h3>
        </div>
    </div>


    <div class="container" id="panelSection">  
        <div class="row" id="noneDiv">
            <div class="center-align">
                <h3 class="panel-title flow-text">Looks like you have no Articles Yet!!</h3>
            </div>
        </div>
    </div>


