{{>elements/navbar}}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner-image text-center"> 
        <h1>Mongo Scraper</h1>
        <h3>New York Times Edition</h3>
    </div>


<div class="container">
  {{#each contents}}
    <div class="col s12 m12 l12 articlePanel" data-id ={{this.id}}>
      {{!-- <h2 class="header">Saved Article</h2> --}}
      <div class="card horizontal red lighten-3 hoverable">
        <div class="card-stacked">
          <div class="card-content">
            <p>{{this.title}}</p>
          </div>
          <div class="card-action" data-id = {{this.id}}>
              <a class="btn-floating btn-large waves-effect waves-light red pulse noteButton" href="#modal1"><i class="material-icons">add</i></a>
            <a class="waves-effect waves-light btn getNotes">See Notes</a>
            <a class="waves-effect waves-light btn deleteButton">Delete Article</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="noteTitle" type="text" class="validate">
                <label for="note_title">Note Title</label>
              </div>
              <div class="input-field col s12">
                <textarea id="noteBody" class="materialize-textarea"></textarea>
                <label for="textarea1">NOTE</label>
              </div>
            </div>
          </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn-floating btn-large waves-effect waves-light green pulse noteButton" id="addNote"><i class="material-icons">add</i></a>
    </div>
</div>

